.carousel {
  width: 100vw; 
}

.c-item {
  height: 800px;
}

.c-img {
  height: 100%;
  width: 100%; /* Ensure images take up the full width of their container */
  object-fit: cover;
  filter: brightness(0.5);
}
.c-text-head-1{
  

}

.c-text-head-2{
  text-align: left;
  font-weight: 100;

}

.c-text-head-3{



}

.c-text-body{
  color: #00ddff;

}
.c-text-body-3{
  text-align: justify;
  font-weight: 100;

}
/* Override default styles for carousel control buttons */
button.carousel-control-prev,
button.carousel-control-next {
  color: rgba(0, 0, 0, 0.5) !important; /* Original dark transparent black color */
}

button.carousel-control-prev:hover,
button.carousel-control-next:hover {
  color: rgba(0, 0, 0, 0.7) !important; /* Darken the color on hover if needed */
}
