.community-container {
  width: 87%;
  height: 130vh;
  margin-left: 165px;
  margin-right: 200px;
  margin-top: 60px;
  background-color: #f0f0f0; 
  border: 1px solid #ddd;   
  padding: 10px;            
  border-radius: 5px;
}

h6 {
  margin-bottom: 10px;
  background: linear-gradient(to right, #0c3c59, #1ca4b5);
  height: 20px;
  color: rgb(85, 215, 195);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.inbar{
  margin-top: 5px;
}

.div-container {
  margin-top: 10px;
}

.left {
  float: left;
  width: 42%;
  height:121vh;
  background-color: #b5bdc1; 
  padding: 10px; 
  margin-right: 10px; 
  border-radius: 5px;
}

.userRatings
 {
  width: 100%;
  background-color:  #EEF2F5; 
  padding: 10px; 
  border-radius: 5px;
  margin-bottom: 10px;
  height: 31%; 
}
.feedbacks {
  width: 100%;
  background-color:  #EEF2F5; 
  padding: 10px; 
  border-radius: 5px;
  margin-bottom: 10px;
  height: 67%; 
  
}
.right {
  float: left;
  width: 57%; 
  background-color: #b5bdc1; 
  padding: 10px; 
  border-radius: 5px;
  height:121vh;
  
}
.scrollable-container {
  width:100%; 
  height: 92%;
  overflow: auto; 
  border: none; 
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #0a7381;
  border-radius: 4px;
}
.message{
  background-color: white;
  padding:10px;
  font-size: 12px;
  margin-bottom: 10px;
  border:solid 1px #888;
}

.post-container {
  position: relative;
  
}
.post-buttons {
  display: flex;
  justify-content: space-around; /* Add this line */
   
  width: 100%;
  margin-bottom: 10px;
  
  
}
.file-label {
  display: inline-block;
  cursor: pointer;
  padding: 7px;
  border-radius: 7px;
  margin-right: 2px;
  font-size: medium;
  transition: background-color 0.5s;
}
.Stime,
.Etime{
  
  width: 13%;
  font-size:smaller;
}
.upload-button {
  display: inline-block;
  cursor: pointer;
  padding: 7px;
  border-radius: 7px;
  margin-right: 5px;
  font-size: medium;
  transition: background-color 0.5s;
  background-color: transparent; 
  color: white;
  border: white  solid 1px;
  text-align: center;
  width: 15%;
  height: 20%;
  margin-top: 20px;

  
}
.file-label {
  background-color: transparent; 
  color: white;
  border: white solid 1px;
  text-align: center;
  width:12%;
  height: 80%;
  margin-top: 20px;
}


.file-label:hover,
.upload-button:hover {
  background-color: #1e282a; 
  color: white; 
}
  


.Sdate,
.Edate {
  width: 15%;
}

.Sdate {
  margin-left: 15px;
}

.Edate {
  margin-left: 20px;
}


.file-input {
  display: none;
} 

.selected-image {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}
.comes {
  margin-right: -7px;
  display: flex;
  gap:5px;
}

.selected-image-box {
  width: 60%;
  height: 40vh; 
  border: solid white 1px;
  margin-top: 5px;
  background-color: #b5bdc1;
  border-radius: 5px;
}
.Details {
  
  width: 38%;
  margin-top: 5px;
  background-color: #b5bdc1;
  padding: 20px; 
  border-radius: 5px; 
  box-sizing: border-box;
  border: solid white 1px;
  text-align: center; 
}
.TextFieldStyles {
  
  font-size: 16px;
  color: white; 
  border-radius: 5px; 
  background-color: transparent;
}
.RoundShape {
  width: 70%;
  height: 65%;
  background-color: transparent;
  border-radius: 50%;
  
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  overflow: hidden;
  margin: auto;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.75s; 
}
.logo-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 7px;
  border-radius: 7px;
  margin-right: 2px;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: background-color 0.5s;
  background-color: transparent;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
}

.logo-label img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}

.RoundShape:hover {
background-color: black;
}

.Details .TextFieldStyles {
  margin-top: 5px;
}

.scrollable-post {
  width:100%; 
  overflow: auto; 
  max-height:50vh;
  margin-top: 5px; 
  border:none;
}

.OfferDisplay {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 48vh;
  overflow: hidden;
  margin-bottom: 7px;
  border: 1.5px solid #0a7381;
  border-radius: 5px;
  
}
.logoAndName{
  
  display : flex;
  width: 100%;
  margin : 5px;
  margin-bottom: 0;
  height: 35%;
}

.CompanyDetails {
  width: 50%;
  height: 100%;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px; 
  
}

.itemImage {
  
  width: 70%;
  margin: 5px;
}

.Due {
  display: flex;
  margin-left: 5px;
  padding: 2px;
  text-align: center;
  height: 35%;
  
}
.Starting,
.Ending{
  width:50%;
  height: 100%;
  justify-content: space-around;
  background-color: #0a7381;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#f0f0f0;
  border: #0c3c59 1px solid;
}

.ItemName {
  margin-left: 1px;
  margin-top : 8%;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration:underline 1px  ;
  height: 70%;
 
}

.logoImg {
  margin: 3px;
  height : 80%;
  width: 25%;
  justify-content: center;
}

.logoRound {
  width: 100%;
  height: 80%;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0a7381;
  overflow: hidden;
  margin-left:1px ;
} 
.deletePost{
  width: 30%;
  height : 15%;
  border: white 1px solid;
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  transition: 0.5s;
  margin-bottom: 2px;
  border-radius: 7px;
  margin-top: 15px;
}
.deletePost:hover{
  background-color: black;
}
.scrollable-post::-webkit-scrollbar {
  width: 8px;
}
.scrollable-post::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}
.logoRound img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjusted property */
}
.scrollable-post::-webkit-scrollbar-track {
  background-color: #0a7381;
  border-radius: 4px;
}
