  .container-dashboard {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EEF2F5;
    font-family: 'Roboto', sans-serif;
  }
  .drawer {
    width: 12%;
    height: 100vh;
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    font-size: 14px;
    padding-top: 5%;
  }
  .drawer-section {
    width: 80%;
    height: 30px;
    margin-left: 10%;
    border-radius: 5px;
    flex: 1;
    transition: background-color 0.5s ease; 
    margin-top: 10px;
    color: #bcbcbc;
  }
  .outlet {
    width: 100%;
    height: 100vh;
    
    
  }
  .drawer-section:hover {
    background-color: #e2eaee;
  }
  .list-item-container {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
  }
  
  
  
