.container-drawer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0c091f;
}
.drawer-wrapper {
  
  top: 0;
  left: 0;
  
  
}
.vertical-rectangle {
  width: 12%;
  height: 100vh;
  flex-direction: column;
  background-color: #1a1c38;
  position: fixed;
}

.content {
  flex: 1;
  padding: 20px;
}

.section {
  flex: 1;
  transition: background-color 0.1s; /* Smooth color transition on hover */
  height: 40px;
  margin-top: 10px;
}

.profile{
  background-color: #1a1c38;
  height: 100px;

}

.cover-photo{
  padding-top: 20px;
  padding-left: 60px;
  align-items: center;
  height: 50px;
}

.photo{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: black;
  border: 2px solid #ccc;
}
.section-1 {
  background-color: #822525;
  
}

.section-2 {
  background-color: #f0f0f0;
}

.section-3 {
  background-color: #f0f0f0;
}


.section:hover {
  background-color: #557a8e;
  
  
}

.list-item-container {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 10px;
}

.icon {
  margin-right: 10px; 
  margin-left: 15px;
}

.list-item{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
 
  font-weight: 50;



}