  .container{
    width: 100%; 
    height: 100%; 
    border: 0px solid #e70707; 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 10;
    box-shadow: none;

  }
  .container-left{
    width: 30%; 
    height: 100%; 
    border: 0px solid #d2c1e0; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 10;
  }
  .container-middle{
    width: 60%; 
    height: 150vh; 
    border: 1px solid #8902ff; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 10;
  }

  .container-right{
    width: 30%; 
    height: 100%; 
    border: 1px solid #d2c1e0; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 10;
  }
  .box-1 {
    width: 100%; 
    height: 50vh; 
    border: 1px solid #8902ff; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    font-family: Roboto;
    font-size: 10;
  }
  
  .box-1 h5 {
    margin-left: 40px;
    margin-top: 10px;
    padding: 0;
    color: #100bae;
    
  }
  
  .box-1 .user-box {
    position: relative;
    margin-top: 5px;
    margin: auto;
    width: 80%;
    font-size: 10;
  }
  
  .box-1 .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #0d00ff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #0007ca;
    outline: none;
    background: transparent;
  }
  .box-1 .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #888181;
    pointer-events: none;
    transition: .5s;
  }
  

.user-box input:focus ~ label,
.user-box input:valid ~ label,
.username-label.focused,
.password-label.focused {
  top: -20px;
  left: 0;
  color: #025c98;
  font-size: 12px;
}

.submit-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  
}

.time{
    position: relative;
    margin: 10px auto 0;
    margin-top: 5px;
    width: 60%;

}
.time::placeholder {
    color: transparent;
  }
  
  .time-input::-webkit-calendar-picker-indicator {
    color: initial; /* Reset the color for the calendar icon (for WebKit browsers) */
  }


  .box-2 {
    width: 100%; 
    height: 40vh; 
    border: 1px solid #8902ff; 
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 10;
  }

  .box-2 h5 {
    margin-left: 25px;
    margin-top: 10px;
    padding: 0;
    color: #100bae;
    
  }
  
  .box-2 .user-box {
    position: relative;
    margin-top: 0px;
    margin-left: 25px;
    width: 60%;
  }
  
  .box-2 .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #0d00ff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #0007ca;
    outline: none;
    background: transparent;
  }
  .box-2 .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #888181;
    pointer-events: none;
    transition: .5s;
  }

  .box-3 {
    width: 30%; 
    height: 30vh; 
    border: 1px solid #8902ff; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    font-family: Roboto;
    font-size: 10;
  }

  .box-3 h5 {
    margin-left: 25px;
    margin-top: 10px;
    padding: 0;
    color: #100bae;
    
  }
  
  .box-3 .user-box {
    position: relative;
    margin-top: 0px;
    margin-left: 25px;
    width: 60%;
  }
  
  .box-3 .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #0d00ff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #0007ca;
    outline: none;
    background: transparent;
  }
  .box-3 .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #888181;
    pointer-events: none;
    transition: .5s;
  }

  .box-4 {
    width: 100%; 
    height: 50vh; 
    border: 0px solid #8902ff; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    font-family: Roboto;
    font-size: 10;
  }
  
  .box-4 h5 {
    margin-left: 40px;
    margin-top: 10px;
    padding: 0;
    color: #100bae;
    
  }
  
  .box-4 .user-box {
    position: relative;
    margin-top: 5px;
    margin: auto;
    width: 80%;
    font-size: 10;
  }
  
  .box-4 .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #0d00ff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #0007ca;
    outline: none;
    background: transparent;
  }
  .box-4 .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #888181;
    pointer-events: none;
    transition: .5s;
  }
  