.location-container {
  height: 77vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
}

.map-inner-left {
  position: relative;
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  padding: 0.2%;
  flex-direction: column;
}

.map-container {
  position: relative;
  width: 80%;
  height: 100%;
  margin-left: 5%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}

.overlay-layer {
  position: absolute;
  width: 58%; 
  height: 77.2%;
  top: 100; 
  left: 39.56%; 
  background-color: rgba(255, 255, 255, 0);
  pointer-events: none;
  align-items: center;
  justify-content: center;
  z-index: 2; 
}

.map-inner-left p {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: justify;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  left: 40.5%;
  top: 21.7%;
  background-color: #ffffff;
  color: #09BEB1;
  z-index: 1 !important;
  padding: 6px;
  border-radius: 5px;
  font-weight: bold;
}



.location-title {
  margin-left: 0px;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #09BEB1;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid red;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: glow 0.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px 3px red;
  }
  to {
    box-shadow: 0 0 20px 6px red;
  }
}

.location-save {
  width: 100%;
  height: 6%;
  background-color: #09BEB1;
  color: #ffffff;
  border: 0px solid red;
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  align-items: center;
  
}

.location-save:hover {
  background-color: #0a9289;
}
