.login-container{
    width: 100vw; 
    height:100vh;    
    display: flex; 
    flex-direction: row;
    justify-content: center;
    background-color: #0000007f ;  
}

.login-col{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50vh;
    height: 50%;
    padding-top: 3%;
}
.login-box{
    display: flex;
    flex-direction: column;
}
.login-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-title{
    background: linear-gradient(45deg, #09BEB1, #22A1CB);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    animation: textGradient 5s linear infinite;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
}
@keyframes textGradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
.login-logo {
    height:50px;
    width:50px;
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .signup-error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }