.container{
    width: 30%; 
    height: 60vh; 
    border: 0px solid #ccc; 
    border-radius: 2%;
    box-shadow: 2px 2px 10px #5b4cdda7; 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
}

.field-container{
    margin: 10px auto 0;
    margin-top: 30px;
    width: 80%;
    
    
}
.button {
    display: block; /* Ensure it takes full width */
    width: 80%;
    padding: 8px 16px;
    margin: 10px auto 0; /* Center horizontally and add top margin */
    background-color: #164863;
    color: #00ddff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; /* Center text */
  }
  