.navbar {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Aligns items to the left */
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  height: 50px;
  box-shadow: 1px 1px 2px #09BEB1;
  z-index: 2;
}
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-right: 10px;
  height:35px;
  width:35px;
}



.navbar-company-name {
  font-weight: bold;
  margin-right: 0;
  margin-left: 0px;
  margin-bottom: 0;
  margin-top:0px;
  color: #22A1CB;
}

.navbar-link-box {
  background-color: #f0f0f0;
  border: 0px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.navbar-link-box.active {
  background-color: #164863;
  color: #00ddff;
  border: 0px solid #00ddff;
}



