.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  height: 60px;
  box-shadow: 1px 1px 2px #09BEB1;
  z-index: 2;
}

.navbar-logo {
  margin-right: 10px;
  margin-left: 20px;
  height: 35px;
  width: 35px;
}

.navbar-company-name {
  font-weight: bold;
  margin-right: auto; /* Push the company name to the right */
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
  color: #22A1CB;
}

.navbar-link-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: #000000;
  border-bottom: 2px solid transparent;
  border-radius: 0px;
  cursor: pointer;
  margin-left: 20px;
  transition: color 0.1s cubic-bezier(0.42, 0, 0.58, 1), border-bottom 0.1s ease-in-out,;
}


.navbar-link-box.active {
  color: #09BEB1;
  border-bottom: 2px solid #09BEB1;
  
}

