.Add-new-bill-Table {
    position: fixed;
    z-index: 1;
    margin: -500px -900px;
  }
  
  .Add-New-bill-card-Table{
    width: 700px;
    height: auto;
    margin: auto;
    background-color:white;
    box-shadow:0 0 10px rgba(231, 231, 231, 0.1);
    border-radius: 4px;
   
  }
  
  .invoice-header {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .invoice-header h1 {
    font-size: 24px;
    margin: 0;
  }
  .invoice-details {
    margin-bottom: 20px;
  }
  .invoice-details p {
    margin: 5px 0;
  }
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .invoice-table th, .invoice-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  .total-cost {
    display: flex;
    justify-content: space-between;
  }
  
  .total-cost-item {
    text-align: center;
  }
  
  .total-cost-item h2 {
   
    margin-bottom: 5 px;
  }
  
  .total-cost-item p {
    
    margin-bottom: 0;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Adjust the margin as needed */
  }