.RepairPage {
    margin-left:200px;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-size: 12px;
    margin-top: 60px;
    
}
.RepairContainer1{
    flex:2;
    /* Takes up 50% of the available space */
    background-color: white;
    padding:10px;
    border-radius: 5px;
    margin-left: 10px;
    
}
.RepairContainer2{
    flex: 1; /* Takes up 50% more space than the first division */
    background-color: #EEF2F5;
    padding: 10px;
}
h2{
    color: #09BEB1;
    font-size:15px;
}
.btn{
    margin-top:15px;
    border: 1px solid white;
    border-radius:5px;
    background-color:#09BEB1;
    font-size:15px;
    color:#EEF2F5;
  
    
}
.btnParts{
    
        border: 1px solid white;
        border-radius:5px;
        background-color:#09BEB1;
        font-size:15px;
        color:#EEF2F5;
}
.btn:hover{
    cursor: pointer;
    
}
.btnParts:hover{
    cursor: pointer;
    
}
.Repair{
	border-collapse:collapse;
	width:100%;
}

.Repair td, .Repair th{
	border:1px solid #ddd;
	padding:15px;
    
}

.Repair tr:nth-child(even){
	background-color: #EEF2F5;
}

.Repair tr:hover {
	background-color: #ddd;
}

.Repair th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: left;
  background-color: #22A1CB;
  color: white;
}
.RepairDetails{
    border: none;
    padding: 0px;
}
.RepairContainer2 h2{
    color: #09BEB1;
    font-size:15px;
}
.RepairDetails td{
    padding: 5px;
}


.parts{
	border-collapse:collapse;
	width:400px;
    
}

.parts td, .parts th{
	border:1px solid #ddd;
	padding:10px;
}

.parts tr:nth-child(even){
	background-color: #EEF2F5;
}

.parts tr:hover {
	background-color: #ddd;
}

.parts th {
  padding-top: 0px;
  padding-bottom:0px;
  text-align: left;
  background-color: #22A1CB;
  color: white;
}
.Add-new-Form {
    position: fixed;
    z-index: 1;
    margin: -20px 0px;
}
  
.Add-New-Form-card {
    width: 500px;
    height: 550px;
    margin: auto;
    background-color:white;
    box-shadow:0 0 10px rgba(231, 231, 231, 0.1);
    border-radius: 4px;
   
}
.Add-new-parts-Form {
  position: fixed;
  z-index: 1;
  margin: -30px -250px;
}

.Add-New-parts-card {
  width: 250px;
  height: 300px;
  margin: auto;
  background-color:white;
  box-shadow:0 0 10px rgba(231, 231, 231, 0.1);
  border-radius: 4px;
 
}
label {
    display: block;
    font-size: 12px;
  }

  input, select {
    width: 90%;
    padding: 4px;
    margin-bottom: 6px;
    box-sizing: border-box;
  }
  button {
    background-color: #09BEB1;
    color: white;
    text-align: right;
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  
  }

  button:hover {
    background-color: #09BEB1;
  }

.close-button{
  display: block;
    
}