.container-request{
    display: flex;
    flex-direction: row;
    width: 87%;
    height: 90vh;
    margin-left :200px;
    margin-right :20px;
    margin-top: 70px;
    background-color: #EEF2F5;
    overflow: hidden;
}
 .view-request{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 110vh; /*vh = view point height */
    top: 5%;
    left: 4%;
    background-color: #EEF2F5;
 }

 .request-details{
    display: flex;
    flex-direction: column;
    width: 60%;
    height:87vh;
    margin-left:20px;
    left: 5%;
    border-radius: 2px;
    background-color: #FFFFFF;
 }

 .incoming-request{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 42vh;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: auto;
 }

 .accepted-request{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    height: 42vh;
    border-radius: 2px;
    background-color: #ffffff;
    overflow: auto;
 }

.map{
   display: flex;
   /*flex-direction: column;*/
   margin-left: 1%;
   margin-top: 0.2%;
   width:98%;
   height:396px;
   background-color: #D9D9D9;
}

/*.map-view{
    display: flex;
    height: 400px;
    width: 92%;
    margin-left:20px;
    background-color: #EEF2F5
}

.map-details{
   display: flex;
   height: 30vh;
   width: 92%;
   margin-top: 4%;
   margin-left: 4%;
   margin-bottom: 4%;
   background-color: #EEF2F5;
}*/

.chat-box{
   display: flex;
   flex-direction: row;
   margin-top: 1.5%;
   margin-left: 1%;
   width: 100%;
   height: 40%;
   background-color: EEF2F5;
}

.process-request{
   display: flex;
   width: 92%;
   height: 50vh;
   margin-top: 4%;
   margin-left: 4%;
   margin-bottom: 4%;
   background-color: #EEF2F5
}

.message-box{
   display: flex;
   height: 96%;
   width: 40%;
   margin-top: 0.5%;
   margin-left: 1%;
   margin-bottom: 4%;
   background-color: #EEF2F5
}

.user-details {
   display: flex;
   align-items: center;
   width: 88%;
   height: auto; 
   margin-left: 1%;
   padding: 10px;
   background-color: #eef2f5; 
   border-radius: 5px;
   margin-bottom: 10px; 
 }
 .incom-avatar{
   display:flex;
   flex-direction: column;
   margin-right: 20px;
 }
 .name-box {
   display: flex;
   align-items: center; 
   width: 15%;
   height: 5vh;
   margin-top: 1.2;
   margin-left: 2%;
   flex-shrink: 0;
   color: #565b5a;
 }
 
 .icon-box {
   display: flex;
   flex-direction: row;
   margin-left: 1%;
   color: #494b4c;
 }
 
 .details-box {
   display: flex;
   flex-direction: column;
   width: 60%;
   line-height: 1.6;
   color: #8e8e97;
   margin-left: 1%; 
 }
 
 .button-box {
   display: flex;
   flex-direction: column;
   margin-top: 2%;
 }
 
.header-bar{
   display: flex;
   font-size: 15;
   width: 100%;
   height: 4vh;
   margin-top: 1.5%;
   margin-bottom: 2%;
   color: #09BEB1;
   background-color: #ffffff;
   border-bottom: 1px solid #cbc7c7
}


.custom-button{
   border-radius: 5px;
   border: none;
   margin-top: 2%;
   padding: 5px;
}

.desicion-box {
   display: flex;
   flex-direction: column;
   width:96%;
   justify-content: space-between;
   margin: 10px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 

 .desicion-box-upper {
   display: flex;
   flex: 2;
   flex-direction: row;
 }
 .desicion-box-lower{
   display: flex;
   flex:1;
   margin-top: 20px;
   flex-direction: row;
   justify-content: flex-end;
 }
 .desicion-box-right{
   display: flex;
   width: 600px;
   margin-top: 30px;
   flex-direction: row;
   justify-content: flex-end;
 }
 
 .profile-circle {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: #d9d9d9;
 }
 
 .vehicle-detail {
   margin-left: 20px;
 }
 

 
 .info {
   margin-bottom: 10px;
 }
 
 .buttons {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 
 .custom-button {
   margin-top: 10px;
   padding: 5px 10px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
 }
 
 .accept {
   background-color: #0be7ff;
   color: white;
 }
 
 .hold {
   background-color: #63bec1;
   color: white;
 }
 
 .decline {
   background-color: #ef0951;
   color: white;
 }
 
 .custom-button:hover {
   background-color: #2ae8f3;
 }
 
 

.detail-boxes{
   display: flex;
   flex-direction: row;
   width: auto;
   padding-left:10px;
   padding-right:10px;
   margin-right: 20px;
   border-right:1px solid #141111;
   justify-content: center;
}

.vehicle-detail{
   display: flex;
   flex-direction: row;
   margin-left: 6%;
   margin-top: 4%;
}

 .info p {
   margin: 5px 0;
   font-size: 11px;
 }