.container-request{
    display: flex;
    flex-direction: row;
    width: 87%;
    height: 90vh;
    margin-left :200px;
    margin-right :20px;
    margin-top: 70px;
    background-color: #EEF2F5;
    overflow: auto;
}
 .view-request{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 110vh; /*vh = view point height */
    top: 5%;
    left: 4%;
    background-color: #EEF2F5;
 }

 .request-details{
    display: flex;
    flex-direction: column;
    width: 60%;
    height:110vh;
    margin-left:20px;
    left: 5%;
    border-radius: 2px;
    background-color: #FFFFFF;
 }

 .incoming-request{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 2px;
 }

 .accepted-request{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    height: 40vh;
    border-radius: 2px;
    background-color: #ffffff;
 }

 .show-data{
   display: flex;
   width: 96%;
   margin-top: 2%;
   margin-left: 2%;
   border-radius: 2px;
 }

.map{
   display: flex;
   /*flex-direction: column;*/
   margin-left: 1%;
   margin-top: 0.2%;
   width:98%;
   height:396px;
   background-color: #D9D9D9;
}

/*.map-view{
    display: flex;
    height: 400px;
    width: 92%;
    margin-left:20px;
    background-color: #EEF2F5
}

.map-details{
   display: flex;
   height: 30vh;
   width: 92%;
   margin-top: 4%;
   margin-left: 4%;
   margin-bottom: 4%;
   background-color: #EEF2F5;
}*/

.chat-box{
   display: flex;
   flex-direction: row;
   margin-top: 1.5%;
   margin-left: 1%;
   width: 98%;
   height: 310px;
   background-color: EEF2F5;
}

.process-request{
   display: flex;
   width: 92%;
   height: 50vh;
   margin-top: 4%;
   margin-left: 4%;
   margin-bottom: 4%;
   background-color: #EEF2F5
}

.message-box{
   display: flex;
   height: 96%;
   width: 40%;
   margin-top: 0.5%;
   margin-left: 1%;
   margin-bottom: 4%;
   background-color: #EEF2F5
}

.user-details{
   display: flex;
   width: 98%;
   height: 25%;
   margin-top: 0.5%;
   margin-left: 1%;
   background-color: #EEF2F5;
}

.header-bar{
   display: flex;
   font-size: 15;
   width: 100%;
   height: 4vh;
   margin-top: 1.5%;
   margin-bottom: 2%;
   color: #09BEB1;
   background-color: #ffffff;
   border-bottom: 1px solid #cbc7c7
}

.profile-circle{
   display: inline-block;
   margin-top: 2%;
   margin-left: 1.5%;
   width: 15%;
   height:60%;
   border-radius: 50%;
   background-color: #D9D9D9;
}

.name-box{
   display: flex;
   width: 25%;
   height: 5vh;
   margin-top: 5.5%;
   margin-left: 2%;
   flex-shrink: 0;
   color: #09BEB1;
}

.icon-box{
   display: flex;
   flex-direction: column;
   margin-left: 1%;
   color: #A1D3E5;
}

.details-box{
   display: flex;
   flex-direction: column ;
   width: 28%;
   line-height: 1.6;
   color: #8E8E97;
}

.button-box{
   display: flex;
   flex-direction: column;
   margin-top: 2%;
}

.custom-button{
   border-radius: 5px;
   border: none;
   margin-top: 2%;
   padding: 5px;
}

.desicion-box{
   display: flex;
   flex-direction: column;
   width: 57%;
   height: 96%;
   margin-top: 0.5%;
   margin-left: 1%;
   background-color: #ffffff;
}

.custom-button:hover{
   cursor: pointer;
   background-color: #2ae8f3;
   color:#796666;
   
}

.buttons {
   display: flex;
   /*width: 100px;*/
   margin-top: 20px;
   font-size: 18px;
   width: 156px;
   flex-shrink: 0;
 }

 .accept {
   background-color: #0be7ff;
   color: white;
 }
 
 .hold {
   background-color: #63bec1;
   color: white;
 }
 
 .decline {
   background-color: #ef0951;
   color: white;
 }

.detail-boxes{
   display: flex;
   flex-direction: row;
   width: 20%;
   border-right:1px solid #141111;
   margin-left: 2%;
}

.vehicle-detail{
   display: flex;
   flex-direction: row;
   margin-left: 6%;
   margin-top: 4%;
}

 .info p {
   margin: 5px 0;
   font-size: 11px;
 }