.container-request{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    top :0 ;
    margin-top: 55px;
    margin-left :200px;
    background-color: #808386;
}
 .view-request{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh; /*vh = view point height */
    top: 5%;
    left: 4%;
    background-color: #FFFFFF;
 }

 .request-details{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100vh;
    top: 5%;
    left: 5%;
    background-color: #FFFFFF;
 }

 .incoming-request{
    display: flex;
    flex-direction: column;
    width: 92%;
    margin-top: 4%;
    margin-left: 4%;
    height: 50vh;
    background-color: #EEF2F5;
 }

 .accepted-request{
    display: flex;
    width: 92%;
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
    height: 40vh;
    background-color: #EEF2F5;
 }

.map{
   display: flex;
   flex-direction: column;
   width: 50%;
   background-color: #FFFFFF;
}

.map-view{
    display: flex;
    height: 60vh;
    width: 92%;
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
    background-color: #EEF2F5
}

.map-details{
   display: flex;
   height: 30vh;
   width: 92%;
   margin-top: 4%;
   margin-left: 4%;
   margin-bottom: 4%;
   background-color: #EEF2F5;
}

.chatbox{
   display: flex;
   flex-direction: column;
   width: 50%;
   background-color: #FFFFFF;
}

.process-request{
   display: flex;
   width: 92%;
   height: 50vh;
   margin-top: 4%;
   margin-left: 4%;
   margin-bottom: 4%;
   background-color: #EEF2F5
}

.messagebox{
   display: flex;
   height: 60vh;
   width: 92%;
   margin-top: 4%;
   margin-left: 4%;
   margin-bottom: 4%;
   background-color: #EEF2F5
}

.user-details{
   display: flex;
   width: 85%;
   height: 15vh;
   margin-top: 5%;
   margin-left: 6%;
   background-color: #FFFFFF;
}