.container-reservation {

    display: flex;
    flex-direction:  row;
    background-color: #EEF2F5;
    padding-left: 200px;
    
}
.container-title{
    color: #09BEB1;
}

.column-1{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    width:50vw;
    height: 100vh;
    margin-left:200px;
    padding: 10px;

}
.column-2{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    width:50vw;
    height: 100vh;
    margin-left:10px;
    padding: 10px;

}

 .column-3{
    display:flex;
    flex-direction: row;
    background-color: #EEF2F5;
    margin:10px;
    width:95%;
    height: 30%;
    border-radius: 5px;
    

 }

 .column-4{
    display:flex;
    flex-direction: row;
    background-color: #EEF2F5;
    margin:10px;
    width:95%;
    height: 18%;
    border-radius: 5px;
    

 }


 .innerColumn-1{
    display: flex;
    flex-direction: column;
    margin:10px;

 }



