.signup-container{
    width: 100vw; 
    height: 100vh;    
    display: flex; 
    flex-direction: row;
    justify-content: center;
    
    background-color: #EEF2F5 ;  
}
.signup-cols-1{
    display: flex;
    flex-direction: column;
    background-color: #072c19;
    margin-top: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50vh;
    height: 80%;
    padding-top: 3%;
}
.signup-cols-2{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50vh;
    height: 80%;
    padding-top: 3%;
}
.signup-box{
    display: flex;
    flex-direction: column;
}
