.nav {
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Aligns items to the left */
    align-items: center;
    padding: 0.5rem;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    height: 50px;
    box-shadow: 1px 1px 2px #09BEB1;
    z-index: 2;
  }
  .d-navbar-left {
    display: flex;
    align-items: center;
  }
  
  .d-navbar-logo {
    margin-right: 10px;
    height:35px;
    width:35px;
  }

 
  
  .d-navbar-company-name {
    font-weight: bold;
    margin-right: 0;
    margin-left: 0px;
    margin-bottom: 0;
    margin-top:0px;
    color: #22A1CB;
  }
  
  .d-navbar-links-container {
    display: flex;
    margin-top: 0;
  }
  
  .d-navbar-link {
    color:#22A1CB;
    font-size: 14px;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .d-navbar-right {
    margin-left: auto;
    align-items: center;
  }
  
  .d-circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #bcbcbc;
    margin-bottom: 100px; 
    
  }

  .menu-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu-button {
    cursor: pointer;
  }
  
  .accordion-content {
    position: absolute;
    top: 40px; 
    right: 0;
    z-index: 4;
  }
  
  .accordion-card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 300px; 
    height: 500px;
    padding: 10px;
  }
  