.nav {
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Aligns items to the left */
    align-items: center;
    padding: 0.5rem;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    height: 50px;
    box-shadow: 1px 1px 2px #09BEB1;
    z-index: 2;
  }
  .d-navbar-left {
    display: flex;
    align-items: center;
  }
  
  .d-navbar-logo {
    margin-right: 10px;
    height:35px;
    width:35px;
  }

 
  
  .d-navbar-company-name {
    font-weight: bold;
    margin-right: 0;
    margin-left: 0px;
    margin-bottom: 0;
    margin-top:0px;
    color: #22A1CB;
  }
  
  .d-navbar-links-container {
    display: flex;
    margin-top: 0;
  }
  
  .d-navbar-link {
    color:#22A1CB;
    font-size: 14px;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .d-navbar-right {
    margin-left: auto;
    align-items: center;
  }
  
  .d-circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #bcbcbc;
    margin-bottom: 100px; 
    
  }

  .menu-container {
    position: relative;
    display: inline-block;
    margin-right: 0px;
    right:0;
  }
  
  .menu-button {
    cursor: pointer;
    
  }
  
  .accordion-content {
    position: absolute;
    top: 40px; 
    right: 0;
    z-index: 4;
  }
  
  .accordion-card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 300px; 
    height: 500px;
    padding: 10px;
  }
 
  @keyframes blink {
    0% {
      background-color: rgb(236, 125, 125); 
    }
    50% {
      background-color: rgb(255, 0, 0); 
      animation-timing-function: ease-out;
    }
    100% {
      background-color: rgb(236, 125, 125); 
    }
  }
  
  .titlebar-call-container {
    margin-left: 2%;
    height: 35px;
    width: 150px;
    background-color: rgb(255, 0, 0);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    animation: blink 2s infinite; 
  
  }
  
  .left-circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .arrow-icons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }
  
  .arrow-icon {
    margin-left: 0px;
    font-size: 20px;
    animation: slideArrow 1.5s infinite alternate;
  }
  .arrow-text {
    margin-top: 7px;
    margin-left: 0px;
    font-size: 12px;
    color:#fff;
  }
  .arrow-text-ani {
    margin-top: 7px;
    margin-left: 0px;
    font-size: 12px;
    animation: slideArrow 1.5s infinite alternate;
  }
  
  @keyframes slideArrow {
    0% {
      color: #ffffff;
      transform: translateX(0);
    }
    50% {
      color: #ffffff; 
      transform: translateX(5px);
    }
    100% {
      color: #ffffff00; 
      transform: translateX(0);
    }
  }
  