  .container-dashboard {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EEF2F5;
    font-family: 'Roboto', sans-serif;
  }

  .outlet {
    margin-left: 240px;
    margin-top: 80px;
    width: 80%;
    height: 89vh;
  }
  